/* GLOBAL */
:root {
  font-size: 62.5%;

  --purple-primary: #AF05AA;
  --purple-secondary: #EA21A2;
  --black-primary: #000000;
  --black-secondary: #3C3640;
  --white-primary: #FFFFFF;
  --white-secondary: #F5EEEE;


  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Montserrat', sans-serif;

  --color-button-hover: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-serif);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.btn {
  font-family: var(--font-sans-serif);
  font-size: 1.6rem;
  letter-spacing: 0.005em;
  color: var(--black-primary);
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 9rem;

  transition: color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.logo-product img {
  width: 16rem;
}

.overtitle {
  font-family: var(--font-sans-serif);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--purple-primary);
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;
  color: var(--black-primary);
  margin-top: 1.6rem;
}


/* HEADER */
#header-page {
  background-color: var(--white-primary);
}

.header-container {
  padding: 2.4rem 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-outline {
  padding: 1.2rem 2.4rem;
  font-weight: 600;
  border: .2rem solid var(--black-primary);
  background-color: transparent;
}


/* MAIN */
/* HERO */
#hero {
  background-color: var(--white-primary);
}

.hero-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 7.2rem;
}

/* left */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 9.6rem 0;
  max-width: 55rem;
  flex: 1;
}

.hero-text__title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 700;
  color: #0A0A0A;
}

.hero-text__paragraph {
  font-family: var(--font-sans-serif);
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--black-secondary);
}

.btn-primary {
  font-family: var(--font-sans-serif);
  font-weight: 700;
  color: var(--white-primary);
  padding: 2rem 4rem;
  background-color: var(--purple-primary);
  border: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}

/* right */
.hero-img {
  flex: 1;
  align-self: flex-end;
}

.hero-img img {
  width: 100%;
  vertical-align: bottom;
}


/* SERVICES */
.services-container {
  padding: 9.6rem 7.2rem;
}

.services-list {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

/* for each card */
.service-card {
  background-color: #FFF8F8;
  border: .2rem solid #E6DFDF;
  border-radius: 3.2rem;

  width: 36rem;
}

.service-card img {
  width: 100%;
  border-radius: 3.2rem 3.2rem 0 0;
}

.service-card__text {
  padding: 3.2rem;
}

.service-card__text h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--black-primary);
}

.service-card__text p {
  margin-top: .8rem;
  font-family: var(--font-sans-serif);
  line-height: 2.4rem;
  color: var(--black-secondary);
}


/* LOCATION */
#location {
  background-color: var(--white-secondary);
}

.location-container {
  padding: 9.6rem 7.2rem 4.8rem;
}

.location__address {
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;

  font-family: var(--font-sans-serif);
  font-size: 2rem;
  line-height: 2.8rem;
  font-style: normal;
  color: var(--black-primary);
}

#location iframe {
  vertical-align: bottom;
}