/* GLOBAL */
:root {
  font-size: 62.5%;

  --red-primary: #BA181B;
  --red-secondary: #E5383B;
  --black-primary: #0B090A;
  --black-secondary: #161A1D;
  --white-primary: #FFFFFF;
  --white-secondary: #F5F3F4;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.logo-sirbarber img {
  width: 16rem;
}

/* HEADER */
header {
  background-color: var(--black-primary);
}

.header-content {
  padding: 2.4rem 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn {
  padding: 1.2rem 2.4rem;

  color: var(--white-primary);
  background-color: transparent;

  border-radius: none;
  border: .2rem solid var(--white-primary);

  cursor: pointer;
  text-transform: uppercase;
}




/* FOOTER */
footer {
  background-color: var(--black-secondary);
}

.footer-content {
  padding: 4.8rem 7.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin-top: 1rem;
  line-height: 2.4rem;
  color: #FFFAF1;
}

.footer-content .social-links {
  display: inline-flex;
  gap: 1.3rem;
}

.footer-content .social-links a {
  width: 4rem;
  height: 4rem;
}