/* GLOBAL */
:root {
  font-size: 62.5%;

  --red-primary: #BA181B;
  --red-secondary: #E5383B;
  --black-primary: #0B090A;
  --black-secondary: #161A1D;
  --white-primary: #FFFFFF;
  --white-secondary: #F5F3F4;

  --color-button-hover: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.btn {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.005em;
  color: var(--white-primary);
  text-transform: uppercase;
  cursor: pointer;

  transition: color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out;
}

.btn:hover {
  color: var(--color-button-hover);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.logo-product img {
  width: 16rem;
}

.overtitle {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--red-secondary);
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;
  color: var(--black-primary);
  margin-top: 1.6rem;
}


/* HEADER */
#header-page {
  background-color: var(--black-primary);
}

.header-container {
  padding: 2.4rem 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-outline {
  padding: 1.2rem 2.4rem;
  font-weight: 600;
  border: .2rem solid var(--white-primary);
  background-color: transparent;
}

.btn-outline:hover {
  border-color: var(--color-button-hover);
}


/* MAIN */
/* HERO */
#hero {
  background-color: var(--black-primary);
}

.hero-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 7.2rem;
}

/* left */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  padding: 9.6rem 0;
  max-width: 55rem;
  flex: 1;
}

.hero-text__title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 700;
  color: var(--white-primary);
}

.hero-text__paragraph {
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--white-secondary);
}

.btn-primary {
  padding: 2rem 4rem;
  font-weight: 700;
  border: none;
  background-color: var(--red-primary);

  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-primary:hover {
  background-color: #941B1D;
}

/* right */
.hero-img {
  flex: 1;
  align-self: flex-end;
}

.hero-img img {
  width: 100%;
  vertical-align: bottom;
}


/* SERVICES */
.services-container {
  padding: 9.6rem 7.2rem;
}

.services-list {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

/* for each card */
.service-card {
  background-color: var(--white-secondary);
  border: .2rem solid #D3D3D3;

  width: 36rem;
}

.service-card img {
  width: 100%;
}

.service-card__text {
  padding: 3.2rem;
}

.service-card__text h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--black-primary);
}

.service-card__text p {
  margin-top: .8rem;
  line-height: 2.4rem;
  color: var(--black-secondary);
}


/* LOCATION */
#location {
  background-color: var(--white-secondary);
}

.location-container {
  padding: 9.6rem 7.2rem 4.8rem;
}

.location__address {
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;

  font-size: 2rem;
  line-height: 2.8rem;
  font-style: normal;
  color: var(--black-secondary);
}

#location iframe {
  vertical-align: bottom;
}

/* FOOTER */
#footer-page {
  background-color: var(--black-secondary);
}

.footer-container {
  padding: 4.8rem 7.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-container p {
  margin-top: 1rem;
  line-height: 2.4rem;
  color: #FFFAF1;
}

.footer-container .social-links {
  display: inline-flex;
  gap: 1.3rem;
}

.footer-container .social-links a {
  width: 4rem;
  height: 4rem;
}